body {
   font-family: Arial, sans-serif;
   background-color: #829dc1;
   margin: 0;
   padding: 0;
}

nav {
   background-color: #337DFF;
   padding: 3px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   justify-content: space-around;
}

ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   margin-right: 15%;
}

li {
   margin-right: 150px;
}

a:hover{
   color: orange;
}

li:last-child {
   margin-right: 0;
}

a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   font-size: 23px;
}

audio {
   margin-left: 20px;
}

.form-container {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   margin-top: 50px;
}
.card {
   max-width: 20rem;
   border: 2px solid #337DFF;
   border-radius: 10px;
   margin-right: 20px;
}
.card:last-child {
   margin-right: 0;
}
.card-body {
   padding: 20px;
   background-color: orange;
}
.form-control {
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 10px;
}
.btn-primary {
   background-color: #337DFF;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   color: white;
   cursor: pointer;
}
.btn-primary:hover {
   background-color: #0056b3;
}

.row {
   display: flex;
   justify-content: center;
}

.center-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
}

#podio{
   display: flex;
   justify-content:center;
}

#podio div{
   text-align: center;
   padding: 50px;
}

#pos1 {
   margin-top: 2%;
   font-size: 15px;
   background-repeat: no-repeat;
   background-image: url("../IMAGES/posicion1.png");
   background-size: 180px 180px;
   width: 85px;
}

#pos2 {
   margin-top: 5%;
   font-size: 15px;
   background-repeat: no-repeat;
   background-image: url("../IMAGES/posicion2.png");
   background-size: 180px 180px;
   width: 85px;
}

#pos3 {
   margin-top: 7%;
   font-size: 15px;
   background-repeat: no-repeat;
   background-image: url("../IMAGES/posicion3.png");
   background-size: 180px 180px;
   width: 85px;
}

#finalistas {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
}

#finalistas div {
   width: 50%;
   border: 3px solid black;
   display: flex;
   justify-content: space-around;
}

#finalistas div p {
   margin-left: 15px;
   margin-right: 15px;
}

#pos4 {
   background-repeat: no-repeat;
   background-color: rgb(255, 141, 255);
}

#pos5 {
   background-repeat: no-repeat;
   background-color: rgb(255, 141, 255);
}

.QUIZ a {
   text-decoration: none;
   color: black;
}

#correct-answers{
   margin-top: 7%;
}

.register{
   margin-top: 7%;
}

audio{
   margin-top: 10%;
}

#textoInicio:hover{
   filter: saturate(200%);
}
#textoInicio{
   color: orange;
   text-align: center;
   margin-top: 80px; 
   font-size: 135px; 
}

.QUIZ{
   text-align: center;  
   margin-top: 150px; 
}

#questions button{
   color: whitesmoke;
   background-color: lightsalmon;
   text-decoration: none;
}

#questions button:hover{
   filter: saturate(200%);
}

a img{
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}

#questions {
   margin: 0 auto;
   max-width: 600px;
   text-align: center;
}

#prev-btn, #next-btn {
   background-color: #337DFF;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin: 10px;
}

#prev-btn:hover, #next-btn:hover {
   background-color: #0056b3;
}

#restart-btn {
   background-color: #337DFF;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin: 10px;
}

#restart-btn:hover {
   background-color: #0056b3;
}

#button-container {
   text-align: center; /* Centra los elementos hijos horizontalmente */
}